
.overlay {
  background-color: rgba(10,10,10,0.7);
   font-size: 50px;
  padding: 50px;
}

.icon {
  /* background-image: url("icon.svg");
  background-size: 18px; */
  width: 18px;
  height: 18px;
}

.indicator{
  color: #fff;
  font-size: 20px;
  border-style: solid;
  border-color: #363636;
  border-width: 8px;
  border-radius: 15px;
  padding: 10px;
  background-color: #2A2A2A;
}